<%- include('partials/header.ejs') %>
<!-- Header -->
<head>

</head>

<!-- Body -->
<body>
  <ul class="auto-grid">
	  <li class="layout">
	  	<img class="small-image" src="items/meds.png">
	  Meds</li>
	  <li class="layout">
	  	<img class="small-image" src="items/painkiller.png">
	  Painkillers</li>
	  <li class="layout">
	  	<img class="small-image-large" src="items/backpack.png">
	  Backpack</li>
	  <li class="layout">
	  	<img class="small-image" src="items/ammo.png">
	  Spare Ammo</li>
	  <li class="layout">
		<img class="small-image" src="items/mag.png">
	  Mags</li>
	  <li class="layout">
	  	<img class="small-image-medium" src="items/headset.png">
	  Headset</li>
	  <li class="layout">
	  	<img class="small-image" src="items/water.png">
	  Food/Water</li>
	  <li class="layout">
	  	<img class="small-image" src="items/grenade.png">
	  Grenades</li>
	  <li class="layout">
	  	<img class="small-image" src="items/key.png">
	  Keys</li>
	  <li class="layout">
	  	<img class="small-image" src="items/splint.png">
	  Splint</li>
	  <li class="layout">
	  	<img class="small-image" src="items/hemostat.png">
	  Hemostat</li>
	  <li class="layout">
	  	<img class="small-image" src="items/surgery kit.png">
	  Surgery Kit</li>
  </ul>
</body>
</html>